venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Generated data
*.npy

# Keep timestamps
!timestamps.csv

# Keep required models
*.pkl
!model_baseline.pkl
!model_augmented.pkl
!scaler.pkl

# Ignore TimeGAN folders
timegan_model/
timegan_anomaly_model/